.swiperSlide {
  transition: 0.3s;
  &:hover{
   transform: scale(1.05);
   cursor: pointer;
  }
}
.slideImage {
  width: 100%;
}
.title {
  margin-bottom: 15px ;
}
.info{
  font-size: 18px;
  position: absolute;
  bottom: 40px;
  left: 20px;
  padding: 15 px;
}
.overview {
  margin-top: 15px;
  font-weight: bold;
}
.span {
  margin: 0 5px
}