.root {
    margin: 0 auto;
    // max-width:1000px;
    display: flex;
flex-direction: column;
& .notFoundBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    & p{
        margin: 5px 0 0 0;
    }
}
}
.playersBlock {
margin: 20px;
}