  @import '../../scss/libs/variables';

  .root{
    border: 3px solid green;
  background-color: $grayBG;

  
    color: $fontColor;
  display: flex;
  
  min-width: 0;
  flex-direction: column;
  align-self: self-start;
 
    & h1 {
      color: $fontColor;
      margin-bottom: 10px;
    }
    & .popularHeader {
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      font-size: 22px;
      color:$fontColor

    }
    
    & .main {
      border: 2px solid orange;
      display: flex;
      justify-content: space-around
    }
    }  

