@import '../../scss/libs/variables';

.root{
  grid-area: nav; 
  color: $fontColor;
  opacity: 9;

& ul {
 border: 3px solid  $borderLight;
 border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
 & li {
  display: flex;
  align-items: center;
  padding: 15px;
  & a {
    display: inline-block;
    font-size: 22px;
    padding-left: 12px;
    color: $fontColor;
  }
  & .icon{
    fill: $iconLight;
  }
 };
}


}  

