@import '../../scss/libs/variables';

.root{
  background-color: $grayBG;
  grid-area: 1 / 2 / 2 / 3;
  color: $fontColor;
  opacity: 9;
  height: fit-content;
  border: 2px solid yellow;
padding: 20px 10px;

& ul {
  display: flex;
  justify-content: space-around;

 & li {
  display: flex;
  align-items: center;
  padding: 15px;
  & a {
    display: inline-block;
    font-size: 22px;
    padding-left: 12px;
    color: $fontColor;
  }
  & .icon{
    fill: $iconLight;
  }
  & input {
    flex: 3 0 auto;
    // max-width: 800pix
  }
 };
}
}  

